h1{
	text-align: center;
	padding-top: 6%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2{
	text-align: center;
}

.resa {
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
}

.btn {
	border: 2px solid #e93e38;
	border-radius: 5px;
	padding: 3% 8%;
	background-color: #e93e38;
	align-items: center;
}

.btn:hover {
	background-color: transparent;
	align-items: center;
	border: 2px solid #e93e38;
}

table{
	border: 2px solid black;
	border-collapse: collapse;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	width:60%;
	margin-left: 20%;
} 

th, td{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}